<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unauthorized Access:: Python Flask Bucket List App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/signup.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills float-right">
            <li role="presentation" class="nav-item"><a class="nav-link" href="main">Home</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#">Sign In</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron text-center">
        <h1>{{error}}</h1>
      </div>



      <footer class="footer">
        <p>&copy; Karuna Sehgal 2019</p>
      </footer>

    </div>

    <script src="../static/js/jquery-3.4.1.js"></script>
  </body>
</html>
